<div class="channels">
  <a href="https://github.com/bncunha" target="_blank">
    <img src="/assets/techs/github.png" alt="GitHub" style="filter: invert(1);"/>
  </a>
  <a href="https://www.linkedin.com/in/bruno-cunha-690723115/" target="_blank">
    <img src="/assets/techs/linkedin.png" alt="Linkedin" style="filter: invert(1);"/>
  </a>
  <a href="mailto:bruno.silva.cunha@hotmail.com?subject=Hello from your website!&body=Hi Bruno! How are you today?" target="_blank">
    <img src="/assets/techs/email.png" alt="E-mail" style="filter: invert(1);"/>
  </a>
</div>

<section class="introduction">
  <h1 class="title"> Hello! I'm <span class="highlight"> Bruno </span>  and  welcome to my website. </h1>
  <p class="resume">
    🤖 Full Stack - Frontend 🎨
  </p>
  <button class="btn-down" (click)="scrollDown()">
    ⬇️
  </button>
</section>

<section #aboutSection class="about">
  <div class="container">
    <h2> About me </h2>
    <div class="about__left">
      <img class="about__image" src="/assets/me.jfif" alt="Bruno Cunha" srcset="">
    </div>
    <div class="about__right">
      <ul class="about__lista">
        <li> ❤️ <strong> Family </strong> </li>
        <li> 🏍️ <strong> Travel </strong> </li>
        <li> 🎮 <strong> Games </strong> </li>
        <li> 🥽 <strong> Tech </strong> </li>
        <li> 🪐 <strong> Universe </strong> </li>
      </ul>
      I'm from Brazil, I'm 25 years old, I have a bachelor's degree in Computer Science from Universidade Vila Velha and I have been working with development for approximately 4 years.
      <br/><br/>
      I am always willing to learn new technologies, I like to share knowledge, experiences and teamwork. I have experience with Web Development, client-server communication, interface design and web components. Using languages ​​and technologies such as Node.js, Angular 2+, React, React Native, Java, MySQL database and SQL Server. And seamless integration with Netlify and Herokuapp.
    </div>
  </div>
</section>


<section class="projects">
  <div class="container">
    <h2> Projects and Tests </h2>
    <div class="projects__list">
      <app-project-item *ngFor="let project of projects" [project]="project"></app-project-item>
    </div>
  </div>
</section>
